.attack-animation {
  animation-duration: 0.1s;
  animation-name: attack-animation;
}

@keyframes attack-animation {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.99, 0.99, 0.99) rotate3d(0, 0, 0.5, -0.5deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.show-battle-log {
  animation-duration: 0.5s;
  animation-name: show-battle-log;
}

@keyframes show-battle-log {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}
